.home {
  overflow: hidden;
  position: relative;
}

.home header {
  width: 100%;
  height: 80px;
  display: flex;
  z-index: 1;
  justify-content: center;
}

.home header .container {
  padding: 0 20px;
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .main .container::before {
  content: '';
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #4481eb, #04befe);
  top: -10%;
  transform: translate(100%, -50%);
  right: 52%;
  z-index: -1;
  transition: 1.8s ease-in-out;
}

.home header h3 {
  color: #5995fd;
  font-size: 30px;
}

.home .btn {
  border-radius: 49px;  
  width: 150px;
  height: 49px;
  border: none;
  cursor: pointer;
  background-color: #5995fd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: .5s; 
}

.home .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid  #fff;
    color:  #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: .8rem;
}

.home .btn:focus {
  outline: none;
}

.home .main {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

.home .main .container {
  display: flex;
  align-items: center;
  padding: 0 20px; 
  max-width: 1300px;
  width: 100%;
}

.home .main .content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .main .title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.home .main p{
  font-size: 0.95rem;
  padding: .7rem 0;
}

.home .main p strong {
  color: #5995fd;
}

.home .main .btn {
  /* align-self: center; */
}

.home .main .image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.home .main img {
  height: 300px;
}