.music {
position: relative;    
}

.music header {
width: 100%;
height: 80px;
display: flex;
z-index: 1;
justify-content: center;
}

.music header .container {
padding: 0 20px;
max-width: 1300px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.music header .container .icon {
    cursor: pointer;
}

.music .nav-bar {
}

.music main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.music main .container {
max-width: 800px;
width: 100%;
display: flex;
}

.music main .music-list {
    width: 100%;
}

.music main .list-container {
    border: 2px solid #5995fd;
    margin-top: 10px;
}

.music main .list-header {
    display: flex;
    color: white;
    padding: 5px 10px;
    background-color: #5995fd;
} 

.music main .music-content {
    display: flex;
    padding: 5px 10px;
}

.music main .music-content:hover {
    background: #5995fd;
    color: white;
    cursor: pointer;
}

.music main .id {
    width: 10%;
}
.music main .name {
    width: 70%;
} 
.music main .duration {
    width: 20%;
}

.music i {
    text-align: center;
    color: #5995fd;
    font-size: 1.1rem;
}

.music main .add-music {
display: flex;
width: 100%;
height: 49px;
border: none;
border-radius: 49px;
cursor: pointer;
background-color: #5995fd;
color: #fff;
text-transform: uppercase;
font-weight: 600;
margin: 10px 0;
transition: .5s; 
}

.music main .add-music {
justify-content: center;
margin: 0;
background: none;
border: 2px solid #5995fd;
width: 100%;
color: #5995fd;
height: 41px;
line-height: 41px;
font-weight: 600;
font-size: .8rem;
}

.music main .list-header:nth-child(),
.music main .music-content {
    width: 33.33%;
}

.music .form-container.inve {
    display: none;
}

.music .form-container {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.music .form-container .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: .7;
    z-index: 1;
}

.music .form-container .form{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    opacity: 1;
    z-index: 2;
}

.music .form .icon i {
    font-size: 25px;
}
.music .form .icon {
    align-self: flex-end;
    margin-top: 5px;
    margin-right: 15px;
}

.music .form .icon:hover {
    cursor: pointer;
    align-self: flex-end;
}

.music .form h3 {
    margin-bottom: 10px;
}

.music .form .btn {
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    margin: 10px 0 30px 0;
    transition: .5s; 
    line-height: 35px;
    text-align: center;
}

.music .form .btn.transparent {
    background: #fff;
    border: 2px solid #5995fd;
    color: #5995fd;
    line-height: 35px;
}

.music .form .bnt-content {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.music .input-field {
    max-width: 400px;
    width: 100%;
    height: 45px;
    
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 5% 90%;
    padding: 0 .4rem;
}

.music .form-container .form input {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    font-size: 15px;
}